<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Logo</span>
    <a routerLink="/user-project" routerLinkActive="active"><button mat-raised-button class="navButton">User Project
      </button></a>
    <a routerLink="/user-details"><button mat-raised-button class="navButton">User Details
      </button></a>
    <span class="spacer">
    </span>
    <a (click)="openModal()">
      <mat-icon class="icon">person</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<h1>Welcome :D </h1>