<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/admin-equipment">Manage Project</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" routerLink="/admin-equipment">Admin equipment</a>
      <a class="nav-item nav-link active" routerLink="/admin-employees">Admin employees</a>
      <a class="nav-item nav-link active" routerLink="/admin-projects">Admin projects</a>

    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-brand">
      <a>
        <mat-icon class="icon" (click)="logout()">logout</mat-icon>
      </a>
    </div>
  </div>
</nav>