<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/user-project">Manage Project</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" routerLink="/user-project">User Project</a>
      <a class="nav-item nav-link active" routerLink="/user-details">User Details</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-brand">
      <a (click)="openModal()">Admin Login
        <mat-icon class="icon">person</mat-icon>
      </a>
    </div>
  </div>
</nav>